.avatar {
	--avatar-size: 4rem;
	height: var(--avatar-size);
	width: var(--avatar-size);
	border-radius: var(--radius-round);
	background: var(--surface2);
	position: relative;

	.image {
		overflow: hidden;
		height: 100%;
		width: 100%;
		border-radius: var(--radius-round);
		display: grid;
		place-items: center;

		img {
			height: 100%;
			width: 100%;
			border-radius: var(--radius-round);
		}
	}

	.counter {
		position: absolute;
		top: 0;
		right: 0;
		background: var(--info);
		border-radius: var(--radius-round);
		padding: 0.2rem;
		font-size: 0.8rem;
		height: calc(var(--avatar-size) / 2.5);
		width: calc(var(--avatar-size) / 2.5);
		display: grid;
		place-items: center;
	}

	&.smaller {
		--avatar-size: 2.5rem;
	}
}
