* {
	scrollbar-width: thin;
	scrollbar-color: var(--surface4);
}

*::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

* ::-webkit-scrollbar-thumb {
	background-color: var(--surface4);
	border-radius: 20px;
}
